*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.idea/androidTestResultsUserPreferences.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/deploymentTargetDropDown.xml
.idea/gradle.xml
.idea/misc.xml
.idea/codeStyles/Project.xml
.idea/codeStyles/codeStyleConfig.xml
.idea/codeStyles/Project.xml
.idea/codeStyles/codeStyleConfig.xml
.idea/misc.xml
.idea/kotlinc.xml
.idea/compiler.xml
.idea/kotlinScripting.xml
buildSrc/build/**
.idea/.name
.idea/vcs.xml
.idea/migrations.xml
.idea/deploymentTargetSelector.xml
*.salive
.idea/other.xml
.idea/runConfigurations.xml
.idea/jsonSchemas.xml
.idea/AndroidProjectSystem.xml
