<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.masselis.tpmsadvanced.core.feature.unit">

    <application>
        <provider
            android:name="androidx.startup.InitializationProvider"
            android:authorities="${applicationId}.androidx-startup"
            android:exported="false"
            tools:node="merge">
            <meta-data
                android:name="com.masselis.tpmsadvanced.core.feature.unit.ioc.FeatureUnitInitializer"
                android:value="androidx.startup" />
        </provider>

    </application>

</manifest>