<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission
        android:name="android.permission.FOREGROUND_SERVICE"
        tools:ignore="ForegroundServicesPolicy" />
    <!-- https://developer.android.com/about/versions/14/changes/fgs-types-required#connected-device -->
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_CONNECTED_DEVICE" />

    <uses-permission
        android:name="android.permission.BLUETOOTH_SCAN"
        android:usesPermissionFlags="neverForLocation"
        tools:ignore="UnusedAttribute" />

    <application>
        <receiver android:name="com.masselis.tpmsadvanced.feature.background.interfaces.DisableMonitorBroadcastReceiver" />
        <receiver android:name="com.masselis.tpmsadvanced.feature.background.interfaces.RestartAppBroadcastReceiver" />

        <!-- https://developer.android.com/about/versions/14/changes/fgs-types-required#connected-device -->
        <service
            android:name="com.masselis.tpmsadvanced.feature.background.interfaces.MonitorService"
            android:exported="false"
            android:foregroundServiceType="connectedDevice" />

    </application>
</manifest>